<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo"><i class="material-icons">cloud</i>Spotify</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down"> 
		  <li routerLinkActive="active"><a [routerLink]="['/index']" >Inicio</a></li>
		  <li routerLinkActive="active"><a [routerLink]="['/songs']">Canciones</a></li>
		  <li routerLinkActive="active"><a [routerLink]="['/albums']">Álbumes</a></li>
		</ul>
		
        <div class="input-field" *ngIf="page!='index'">
          <input id="search" type="search" required (keyup.enter)="search()" [(ngModel)]="content" name="content">
          <label class="label-icon" for="search" (click)="search()"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>

	</div>
</nav>