<div class="container">
	<div class="row">
		<div class="col-sm-7 col-sm-push-5 col-md-5 col-md-push-7">
			<img class="img-rounded" src="./assets/singers.jpg" alt="Artistas">
		</div>
		<div class="col-sm-5 col-sm-pull-7 col-md-6 col-md-pull-5">
			<h2>Artistas</h2>
			<p>Descubre nuevos artistas y sigue distrutando de tus cantantes favoritos.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7 col-md-5 ">
			<img class="img-rounded" src="./assets/albums.jpg" alt="Artistas">
		</div>
		<div class="col-sm-5 col-md-6 col-md-push-1">
			<h2>Álbumes</h2>
			<p>Escucha los álbumes de tus artistas favoritos.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7 col-sm-push-5 col-md-5 col-md-push-7">
			<img class="img-rounded" src="./assets/music.jpg" alt="Artistas">
		</div>
		<div class="col-sm-5 col-sm-pull-7 col-md-6 col-md-pull-5">
			<h2>Canciones</h2>
			<p>En Spotify tienes millones de canciones. Escucha tus favoritas, descubre música nueva y monta la colección perfecta.</p>
		</div>
	</div>
</div>